/* ****style du site******* 

couleurs :  rouge #B61719
            vert  #009E3C


============= */

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Lobster', cursive;
    width: 100vw;
}


h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

.h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    text-transform: uppercase; 
    color: #009E3C;
 
}

.p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;

}


/* ****boutons**** */

.btn {
    font-size: 120%;
    color: white;
    background-color: #B61719;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: black 2px 4px 5px 0px;
    text-decoration: none;
    text-transform: none;
    
}

.btn:hover {
    text-decoration: none;
    text-transform: none;
    background-color: #009E3C;
    color: white;
    transition: 0.5s
}


#btn-services {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.btn-contact {
    color: black;
    background-color: white;
}



/* ****NAVBAR******* 
========== */

.navbar-dark {
    background-color: #009E3C;  
    color: white;
}

.navbar a:hover {
    transform: scale(1.1,1.1);
    transition: 0.5s  
}

#logo-nav {
    width: 9vw;
}


/* ***HEADER*************
=============== */

header {
    background-image: linear-gradient(to top right, rgba(78, 0, 1, 0.9), rgba(111, 7, 3, 0.25),
            rgba(0, 158, 60, 0.72)), url("../ressources/Images/header-bouteilles.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.top-header {
    padding-top: 12vw;
    padding-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

#logo-header {
    position: relative;
    width: 50vw;
    
}


/* *********QUI SOMMES-NOUS**************
================ */

.titre {
    font-size: 70px;
    color: #B61719;
    padding-top: 3%;
}

.texte-qui {
    max-width: 80%;
    padding: 2%;
}


/* ***NOS VINS*************
=============== */

.nos-vins {
    background-color: #B61719;
    margin: 0 auto;
}

.vins {
    max-width: 80vw;
    background-color: white;
    height: 100%;
    border-radius: 15px;
    box-shadow: black 0px 5px 10px 0px;
    
}

.vins-roses {
    text-align: right;
}



/* ***NOS SERVICES*************
=============== */

.services {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 95%
}

.degustation{
    text-align: right;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.services img {
    width: 90%;
}

/* ***CONTACT*************
=============== */

.contact {
    background-color: black;

}


/* **** FOOTER ***** 
======================== */

footer {
    background-color: black;
}

footer i:hover {
    transition: 0.5s;
    transform: scale(1.15, 1.15);
}


/* ****CONTACT******* 
========== */

.form {
    margin-left: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    padding-right: 12%;
}

.page-contact {
    background-color: black;

}

.contact-form {
    display: flex;
    flex-direction: row
}

#name {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px
}

select {
    width: 100%;

}

#message {
    width: 100%;
}


/* ******MEDIA QUERY******** */

@media screen and (max-width: 768px) {
    
/* ***page vins*** */
    
    .page-vins {
        text-align: center;
    }
    .vins-roses {
        text-align: center;
    }
    
    
    /* ***services*** */
    
    .services {
        text-align: center;
        margin: 0 auto;

    }
    
    .degustation {
        text-align: center;
    }
    
    /* ***contact*** */
    
    .form {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: 12%
    }
}


