/* ****style du site******* 

couleurs :  rouge #B61719
            vert  #009E3C


============= */

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Lobster', cursive;
    width: 100vw;
}


h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
}

.h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #009E3C;
    font-size: 30px
}

.p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;

}


/* ****boutons**** */

.btn {
    font-size: 120%;
    color: white;
    background-color: #B61719;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: black 2px 4px 5px 0px;
    text-decoration: none;
    text-transform: none;

}

.btn:hover {
    text-decoration: none;
    text-transform: none;
    background-color: #009E3C;
    color: white;
    transition: 0.5s
}

.btn-header {
    padding-left: 23%;
    margin-top: -60px

}


#btn-services {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.btn-degustation {
    left: 10%;
}

.btn-contact {
    color: black;
    background-color: white;
}



/* ****NAVBAR******* 
========== */

.navbar-dark {
    background-color: #009E3C;
    color: white;
}

.navbar a:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s
}

#logo-nav {
    width: 10vw;
}


/* ***HEADER*************
=============== */

header {
    background-image: linear-gradient(to top right, rgba(78, 0, 1, 0.9), rgba(111, 7, 3, 0.25),
            rgba(0, 158, 60, 0.72)), url("../ressources/Images/header-bouteilles.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.top-header {
    padding-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

#logo-header {
    padding-top: 30%;
    position: relative;
    width: 50vw;

}


/* *********QUI SOMMES-NOUS**************
================ */

.titre {
    font-size: 70px;
    color: #B61719;
    padding-top: 3%;
}

.texte-qui {
    max-width: 80%;
    padding: 0 5% 0 5%;
}

.quisommesnous {
    width: 75%;
    height 110vh;
    margin: 0 auto;
}

/* ***NOS VINS*************
=============== */

.nos-vins {
    background-color: #B61719;
    margin: 0 auto;
}

.vins {
    max-width: 80vw;
    background-color: white;
    height: 100%;
    border-radius: 15px;
    box-shadow: black 0px 5px 10px 0px;

}

.vins-roses {
    text-align: right;
}



/* ***NOS SERVICES*************
=============== */

.services {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 92%
}

.degustation {
    text-align: right;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.services img {
    width: 90%;
}

.seuil {
    font-size: 15px
}



/* **** FOOTER ***** 
======================== */

footer {
    background-color: black;
}

footer i:hover {
    transition: 0.5s;
    transform: scale(1.15, 1.15);
}


/* ****CONTACT******* 
========== */

.contact {
    background-color: black;

}

.form {
    margin-left: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column;
    padding-right: 12%;
}

.page-contact {
    background-color: black;

}

.contact-form {
    display: flex;
    flex-direction: row
}

#name {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px
}

select {
    width: 100%;

}

#message {
    width: 100%;
}


/* ******MEDIA QUERY******** */

@media screen and (max-width: 768px) {

    .h2 {
        font-size: 15px;
        text-align: center
    }

    .p {
        font-size: 15px;
        text-align: justify;
    }
    
    .titre {
        font-size: 40px;
        padding-top: 20px
    }

    /* ***header*** */
   
    header {
        height: 70vh;
    }

    .top-header {
        padding-left: 0%;
        padding-top: 12vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

    }

    #logo-header {
        padding-top: 40%;
        position: relative;
        width: 100vw;

    }

    .btn-header {
    padding-left: 0%;
    margin-top: 0%

}
    .vins img {
        width: 16vw
    }
    
    
    /* ***page vins*** */

    
    .vins-roses {
        flex-direction: column-reverse;
    }

    .page-vins img {
        width: 16vw
    }
    
    /* ***services*** */

    .services {
        text-align: justify;
        margin: 0 auto;

    }

    .texte-livraison {
        flex-direction: column-reverse;
    }

    .degustation {
        text-align: center;
        flex-direction: column-reverse;
    }

    
    .seuil {
        font-size: 10px;
    }
    
    .btn-degustation {
    left: 0%;
}
    /* ***contact*** */

    .form {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-left: 12%
    }
}
